openapi: 3.0.3
info:
  version: 1.0.0
  title: REST API
  description: REST-like API provides access to rich Zerion ecosystem.
  contact:
    name: Zerion API
    url: 'https://developers.zerion.io/'
    email: api@zerion.io
servers:
  - description: Production API
    url: 'https://api.zerion.io'
security:
  - APIKeyBasicAuth: []
x-readme:
  samples-languages:
    - curl
    - javascript
    - python
    - kotlin
    - swift
    - go
tags:
  - name: wallets
    description: 'Operations related to wallets, such as portfolio charts, positions, and transactions.'
  - name: chains
    description: 'Operations related to chains, such as list all chains.'
  - name: dapps
    description: 'Operations related to decentralized applications, such as list them all, search or get by ID.'
  - name: fungibles
    description: 'Operations related to fungible assets, such as list them all, search or get by ID.'
  - name: nfts
    description: 'Operations related to non fungible assets, such list them, search or get by ID.'
  - name: gas
    description: Operations related to gas.
  - name: swap
    description: Operations related to swapping and bridging assets.
  - name: subscriptions to transactions
    description: Operations related to subscriptions to transactions.
paths:
  '/v1/wallets/{address}/charts/{chart_period}':
    get:
      operationId: getWalletChart
      summary: Get wallet's balance chart
      description: |
        This endpoint returns a portfolio balance chart for a wallet.
        This is over a specified time period, based on the provided start and end timestamps. 
        Results can be filtered by blockchain and asset type, offering flexible and detailed visualizations of wallet performance, similar to what you see in the Zerion interface. 

        Note: We do not support historical protocol positions data.
      tags:
        - wallets
      parameters:
        - name: chart_period
          in: path
          required: true
          description: Chart period
          schema:
            type: string
            minLength: 3
            maxLength: 5
            default: day
            enum:
              - hour
              - day
              - week
              - month
              - year
              - max
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: 'filter[chain_ids]'
          in: query
          style: form
          explode: false
          description: Account only for balance on these chains (comma-separated list). Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - aurora
            maxItems: 25
            items:
              type: string
        - name: 'filter[fungible_ids]'
          in: query
          style: form
          explode: false
          description: Account only for balance of given fungible assets (comma-separated list).
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
      responses:
        '200':
          description: Resource for the requested wallet chart
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/charts/day'
                  data:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        description: Wallet chart resource type
                        example: wallet_charts
                      id:
                        type: string
                        description: Wallet chart unique identifier
                        example: 0x42b9df65b219b3dd36ff330a4dd8f327a6ada990-day
                      attributes:
                        type: object
                        required:
                          - begin_at
                          - end_at
                        properties:
                          begin_at:
                            type: string
                            description: Begin timestamp of the chart
                            example: '2023-01-18T11:00:00Z'
                          end_at:
                            type: string
                            description: End timestamp of the chart
                            example: '2023-01-25T10:30:00Z'
                          points:
                            type: array
                            description: Sorted list of chart points
                            items:
                              type: array
                              description: 'Chart point - tuple of two items, the first one is timestamp, the second one is a balance in requested currency'
                              items:
                                oneOf:
                                  - type: integer
                                  - type: number
                              minItems: 2
                              maxItems: 2
                              example:
                                - 1674039600
                                - 1145.00999
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/pnl':
    get:
      operationId: getWalletPNL
      summary: Get wallet's PnL
      description: |
        This endpoint returns the Profit and Loss (PnL) details of a web3 wallet.
        This includes Unrealized PnL, Realized PnL, Net Invested amounts and filters for asset categories like Non Fungible Tokens (NFTs). 
        It uses the FIFO (First In, First Out) standard for calculations, providing accurate insights into wallet performance. 
        Ideal for tracking and analyzing financial outcomes of wallet activity.
      tags:
        - wallets
      parameters:
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - name: address
          in: path
          required: true
          description: The web3 wallet address
          example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990'
          schema:
            type: string
        - name: 'filter[chain_ids]'
          in: query
          style: form
          explode: false
          description: Calculate PnL only for specified chains (comma-separated list).
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: 'filter[fungible_ids]'
          in: query
          style: form
          explode: false
          description: |
            Account only for PnL related to given fungible assets (comma-separated list). Maximum of 100 fungible IDs allowed.

            When filtering by fungible_ids or fungible_implementations, assets without available prices are automatically excluded from calculations instead of causing an error. Excluded assets are returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
              maxLength: 44
        - name: 'filter[fungible_implementations]'
          in: query
          style: form
          explode: false
          description: |
            Account only for PnL related to given fungible asset implementations (comma-separated list of chain:address pairs). Maximum of 100 implementations allowed.
            example: "base:0xae16c445d8a4082cecb49a9465e4dd5499df947d,ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"

            When filtering by fungible_ids or fungible_implementations, assets without available prices are automatically excluded from calculations instead of causing an error. Excluded assets are returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
      responses:
        '200':
          description: Response for requested wallet's pnl
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/pnl'
                  data:
                    type: object
                    required:
                      - type
                      - id
                      - attributes
                    properties:
                      type:
                        type: string
                        example: pnl
                      id:
                        type: string
                        description: PNL unique ID
                        example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990'
                      attributes:
                        type: object
                        properties:
                          realized_gain:
                            type: number
                            format: float
                            description: |
                              Realized Gain.

                              The gain (or loss) realized from the sale of fungible assets, calculated using the FIFO (First In, First Out) method (the
                              earliest purchases are matched with the earliest sales).
                              The cost basis of the oldest assets is subtracted from the sale proceeds.
                            example: -655.3618983
                          unrealized_gain:
                            type: number
                            format: float
                            description: |
                              Unrealized Gain.

                              The potential gain (or loss) on unsold fungible assets, calculated as the difference between their current market value and cost basis using the FIFO method (the
                              earliest purchases are matched with the earliest sales).
                            example: 17.5445466
                          total_fee:
                            type: number
                            format: float
                            description: |
                              Total Fees Paid.

                              The sum of all transaction fees associated with asset trades.
                            example: 281.9088917
                          net_invested:
                            type: number
                            format: float
                            description: |
                              Net Invested Amount.

                              The total amount invested in fungible assets that have not been sold, calculated using the FIFO method (the earliest purchases are
                              matched with the earliest sales).
                            example: 45.84218703
                          received_external:
                            type: number
                            format: float
                            description: |
                              Received Amount from Other Wallets.

                              The cumulative value of all fungible assets received from other wallets.  

                              Note: This value does not include amounts traded internally within the wallet but does include `received_for_nfts`.
                            example: 133971.2931
                          sent_external:
                            type: number
                            format: float
                            description: |
                              Sent Amount to Other Wallets.

                              The cumulative value of all fungible assets sent to other wallets.

                              Note: This value does not include amounts traded internally within the wallet but does include `sent_for_nfts`.
                            example: 133270.089
                          sent_for_nfts:
                            type: number
                            format: float
                            description: |
                              Sent Amount for NFTs.

                              The cumulative value of all fungible assets sent in transactions where the wallet receives NFTs.
                            example: 133971.2931
                          received_for_nfts:
                            type: number
                            format: float
                            description: |
                              Received Amount for NFTs.

                              The cumulative value of all fungible assets received in transactions where the wallet sends NFTs.
                            example: 133971.2931
                  meta:
                    type: object
                    description: |
                      Metadata about the PnL calculation (only present when assets were excluded from the calculation).
                      The structure matches the filter type used in the request:
                      - When filtering by `fungible_ids`, the meta contains an `excluded_fungible_ids` array
                      - When filtering by `fungible_implementations`, the meta contains an `excluded_fungible_implementations` array
                      - If both filters are used, both fields may appear in the meta
                    properties:
                      excluded_fungible_ids:
                        type: array
                        items:
                          type: string
                        description: Fungible asset IDs that were excluded due to missing prices (only present when the request used fungible_ids filter)
                        example:
                          - 4a702a34-5cfd-41af-96ad-bd1c45c3672e
                      excluded_fungible_implementations:
                        type: array
                        items:
                          type: string
                        description: |
                          Asset implementations that were excluded due to missing prices (only present when the request used fungible_implementations filter).
                          Format matches the user's query format: "chain:address" for regular tokens, "chain:" for base assets.
                        example:
                          - 'ethereum:0x6b175474e89094c44da98b954eedeac495271d0f'
                          - 'ethereum:'
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/portfolio':
    get:
      operationId: getWalletPortfolio
      summary: Get wallet's portfolio
      description: |
        This endpoint returns the portfolio overview of a web3 wallet.

        **Temporary limitations for Solana addresses:**
        - Doesn't support protocol positions

        > NOTE: Don't forget to stop retries after some reasonable period of time. If the `200` status is not returned within 2 minutes it most probably means that some unexpected error occurred and the client should stop the polling.

        > NOTE: Consider all IDs as abstract strings, without making any assumptions about their format or relying on such assumptions. There is a non-zero probability that IDs may change in the future, and this should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - name: 'filter[positions]'
          in: query
          required: false
          description: |
            This parameter allows to customize the aggregation of DeFi positions within a portfolio based on their types. The aggregation can include:

              - `only_simple`: Only includes wallet-type positions, which are basic, non-protocol related assets. This is the default selection if the parameter is not specified.
              - `only_complex`: Aggregates positions associated with DeFi protocols only (e.g., staked assets, liquidity pools), like Uniswap or Aave, excluding simple wallet positions.
              - `no_filter`: Provides an aggregated view of both protocol-related and simple wallet positions without any filtering.

            The selection of filters affects the composition of the aggregated portfolio results, allowing for tailored analysis and reporting based on the types of positions of interest.

            > ⚠️ Note: Enterprise usage of this API may be subject to different pricing models depending on the selected filter type. For detailed pricing information, please contact `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: sync
          in: query
          required: false
          description: |
            Controls whether the endpoint should trigger a synchronous position data refresh before responding.

            - `true`: Triggers a position sync and waits up to 30 seconds for portfolio data to be refreshed from the blockchain before responding. If data is ready sooner, the response is returned immediately. If data is not ready within 30 seconds, a timeout error may occur.
            - `false` (default): The endpoint returns immediately with cached portfolio data without triggering any position sync.

            > NOTE: When using `sync=true`, be prepared to handle longer response times (up to 30 seconds). Ensure your client timeout settings accommodate this duration.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Response for requested wallet's portfolio
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/portfolio'
                  data:
                    type: object
                    required:
                      - type
                      - id
                      - attributes
                    properties:
                      type:
                        type: string
                        example: portfolio
                      id:
                        type: string
                        description: Portfolio unique ID
                        example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990'
                      attributes:
                        type: object
                        properties:
                          positions_distribution_by_type:
                            type: object
                            required:
                              - wallet
                              - deposited
                              - borrowed
                              - locked
                              - staked
                            properties:
                              wallet:
                                type: number
                                format: float
                                description: Total value of asset on the wallet in selected currency
                                example: 1864.774102420957
                              deposited:
                                type: number
                                format: float
                                description: Total value of deposited assets in selected currency
                                example: 78.04192492782934
                              borrowed:
                                type: number
                                format: float
                                description: Total value of borrowed assets in selected currency
                                example: 0.9751475798305564
                              locked:
                                type: number
                                format: float
                                description: Total value of locked assets in selected currency
                                example: 5.780032725068765
                              staked:
                                type: number
                                format: float
                                description: Total value of staked assets in selected currency
                                example: 66.13183205505294
                          positions_distribution_by_chain:
                            type: object
                            additionalProperties:
                              type: number
                              format: double
                              description: Total value of asset on the chain in selected currency
                            example:
                              arbitrum: 458.3555051522226
                              aurora: 72.01031337463428
                              avalanche: 17.128850607339444
                              base: 55.01550749900544
                              binance-smart-chain: 5.561075880033699
                              celo: 31.293849330045006
                              ethereum: 1214.009900354964
                              fantom: 84.58514074264951
                              linea: 8.258227109505139
                              optimism: 573.032664994399
                              polygon: 64.31407562634853
                              xdai: 113.1679493137936
                              zksync-era: 9.451002156306377
                          total:
                            type: object
                            required:
                              - positions
                            description: Total portfolio values across all wallet positions and NFT
                            properties:
                              positions:
                                type: number
                                format: float
                                description: Total value of all positions
                                example: 2017.4858230069574
                          changes:
                            type: object
                            description: Portfolio changes
                            required:
                              - absolute_1d
                              - percent_1d
                            properties:
                              absolute_1d:
                                type: number
                                format: float
                                description: Daily absolute portfolio change value
                                example: 102.0271468171374
                              percent_1d:
                                type: number
                                format: float
                                description: Daily portfolio change percent
                                example: 5.326512552079021
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/positions/':
    get:
      operationId: listWalletPositions
      summary: Get list of wallet's fungible positions
      description: |
        This endpoint returns a list of wallet positions.

        This endpoint supports testnets. To get data for testnets use `X-Env` header.

        **Understanding Liquidity Pool Positions:**

        Liquidity pools (Uniswap, Curve, Balancer, etc.) return **multiple positions** - one for each token in the pool. Positions belonging to the same pool share the same `group_id` value in attributes.

        For example, a Uniswap V2 USDC/WETH pool returns two positions:
        - Position 1: WETH token, `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`, `fungible_info.symbol="WETH"`
        - Position 2: USDC token, `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`, `fungible_info.symbol="USDC"`

        To display all tokens in a liquidity pool together, group positions by their `group_id` attribute.

        **Temporary limitations for Solana addresses:**
        - Doesn't support protocol positions

        > NOTE: Don't forget to stop retries after some reasonable period of time. If the `200` status is not returned within 2 minutes it most probably means that some unexpected error occurred and the client should stop the polling.

        > NOTE: This endpoint supports a lot of filters, sorting and pagination parameters. Make sure that a request URL length is in a safe range for your platform. Usually, 2000 characters are the safe limit in virtually any combination of client and server software.

        > NOTE: Consider all IDs as abstract strings, without making any assumptions about their format or relying on such assumptions. There is a non-zero probability that IDs may change in the future, and this should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - name: 'filter[positions]'
          in: query
          required: false
          description: |
            This parameter allows users to filter DeFi positions based on their types. There are three options:

            - `only_simple`: Retrieves exclusively wallet-type positions. These are basic, non-protocol related positions. This option is applied if parameter is not specified.
            - `only_complex`: Fetches only positions associated with all DeFi protocols (including staked assets, liquidity pools, etc), like Uniswap or Aave. This option excludes simple wallet positions.
            - `no_filter`: Applies no filtering, thus returning both protocol-related and simple wallet positions.

            > ⚠️ Note: Different pricing models are applied for enterprise usage of this API, depending on the filter type selected. For detailed pricing information, please reach out to us at `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: 'filter[position_types]'
          in: query
          style: form
          explode: false
          description: |
            Keep only positions with these types (comma-separated list).

            Possible values:
            - `deposit` - Assets deposited into a DeFi protocol (e.g., supplied to lending pools, deposited in vaults, or provided as liquidity)
            - `loan` - Borrowed assets representing a debt position that needs to be repaid
            - `locked` - Assets locked for a specific period or purpose (e.g., vote-escrowed tokens, time-locked tokens)
            - `staked` - Assets staked in a protocol to earn rewards, participate in consensus, or for governance purposes
            - `reward` - Earned rewards that are claimable or have been distributed but not yet withdrawn
            - `wallet` - Regular assets held directly in the wallet, not actively deposited in any protocol
            - `investment` - Investment positions such as tokenized funds, indices, or structured products
          schema:
            type: array
            maxItems: 8
            items:
              type: string
              nullable: true
              description: |
                Position's type indicating how the assets are being used or their current state.
              enum:
                - deposit
                - loan
                - locked
                - staked
                - reward
                - wallet
                - investment
              x-enum-descriptions:
                - 'deposit - assets deposited into a DeFi protocol (e.g., lending pools, vaults, LP positions)'
                - loan - borrowed assets representing a debt position
                - 'locked - assets locked for a period or purpose (e.g., veTokens, time-locks)'
                - staked - assets staked to earn rewards or participate in consensus
                - reward - earned but unclaimed rewards
                - wallet - assets held directly in the user wallet
                - 'investment - tokenized funds, indices, structured products'
        - name: 'filter[chain_ids]'
          in: query
          style: form
          explode: false
          description: Keep only positions from these chains (comma-separated list). Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
        - name: 'filter[fungible_ids]'
          in: query
          style: form
          explode: false
          description: Keep only positions related to given fungible assets (comma-separated list).
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: 'filter[dapp_ids]'
          in: query
          style: form
          explode: false
          description: Keep only positions related to these decentralized applications (dapps) (comma-separated list).
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
              maxLength: 32
              minLength: 1
        - name: 'filter[trash]'
          in: query
          required: false
          description: 'Filter positions based on the `is_trash` flag. If no flag is specified, then `only_non_trash` is applied.'
          schema:
            type: string
            default: only_non_trash
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: sort
          in: query
          required: false
          description: Choose how the result should be ordered
          schema:
            type: string
            default: value
            enum:
              - '-value'
              - value
        - name: sync
          in: query
          required: false
          description: |
            Controls whether the endpoint should wait for position data to be ready before responding.

            - `true`: The endpoint will wait up to 30 seconds for position data to be aggregated before responding. If data is ready sooner, the response is returned immediately. If data is not ready within 30 seconds, a timeout error may occur.
            - `false` (default): The endpoint returns immediately with available position data.

            > NOTE: When using `sync=true`, be prepared to handle longer response times (up to 30 seconds). Ensure your client timeout settings accommodate this duration.
          schema:
            type: boolean
            default: false
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          description: Response for requested list of positions
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/positions/'
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                        - id
                        - attributes
                      properties:
                        type:
                          type: string
                          example: positions
                        id:
                          type: string
                          description: Position's unique id
                          example: 0x111c47865ade3b172a928df8f990bc7f2a3b9aaa-polygon-asset-none-
                        attributes:
                          type: object
                          required:
                            - quantity
                            - name
                          properties:
                            parent:
                              type: string
                              nullable: true
                              description: Id of parent position
                              example: 0x111c47865ade3b172a928df8f990bc7f2a3b9aaa-polygon-asset-none-
                            protocol:
                              type: string
                              nullable: true
                              description: Protocol which the position is belong to.
                            protocol_module:
                              type: string
                              description: |
                                The specific module or functionality within a DeFi protocol where this position is held. This categorizes the type of protocol interaction.

                                Possible values and their meanings:

                                - `deposit` - Generic deposit module for protocols with simple deposit functionality
                                - `lending` - Lending and borrowing protocols (e.g., Aave, Compound) where users can supply or borrow assets
                                - `yield` - Yield optimization and aggregator protocols (e.g., Yearn Finance) that automatically maximize returns
                                - `liquidity_pool` - Automated Market Maker (AMM) liquidity pools (e.g., Uniswap, Curve) where users provide liquidity for trading
                                - `staked` - Staking modules where assets are staked for rewards, governance, or network security
                                - `leveraged_farming` - Leveraged yield farming protocols (e.g., Alpaca Finance) that enable leveraged positions on farms
                                - `nft_staked` - NFT staking modules where NFTs are staked to earn rewards
                                - `farming` - Yield farming and reward distribution modules (e.g., liquidity mining programs)
                                - `locked` - Token locking mechanisms such as vote-escrowed (ve) tokens or time-locked positions
                                - `vesting` - Token vesting schedules for team allocations, investor tokens, or earned rewards
                                - `rewards` - Unclaimed rewards modules representing rewards that have been earned but not yet claimed
                                - `investment` - Investment product modules such as tokenized funds, indices, or structured investment vehicles
                              example: lending
                            pool_address:
                              type: string
                              description: Address of the pool the position belongs to if applicable
                              example: '0x109830a1aaad605bbf02a9dfa7b0b92ec2fb7daa'
                            name:
                              type: string
                              description: Human readable position name
                              example: Asset
                            group_id:
                              type: string
                              description: Unique ID which could be used to group position within DApp naturally for convenience of users. For example for UniswapV2 it is grouping by specific pool.
                              example: 0a771a0064dad468045899032c7fb01a971f973f7dff0a5cdc3ce199f45e94d7
                            position_type:
                              $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/parameters/3/schema/items'
                            quantity:
                              type: object
                              required:
                                - int
                                - decimals
                                - float
                                - numeric
                              properties:
                                int:
                                  type: string
                                  description: The integral representation of the quantity (123.45678 -> 12345678).
                                  example: '12345678'
                                decimals:
                                  type: integer
                                  description: Decimal number precision of the quantity - digits after the floating point.
                                  example: 5
                                float:
                                  type: number
                                  format: float
                                  description: Float representation of the quantity.
                                  example: 123.45678
                                numeric:
                                  type: string
                                  description: String representation of the quantity.
                                  example: '123.45678'
                            value:
                              type: number
                              nullable: true
                              format: float
                              description: Position value in requested currency
                              example: 5.384656557642683
                            price:
                              type: number
                              format: float
                              description: Price of position's asset
                              example: 0.043615722
                            changes:
                              type: object
                              description: Position changes
                              required:
                                - absolute_1d
                                - percent_1d
                              properties:
                                absolute_1d:
                                  type: number
                                  format: float
                                  description: Daily absolute position change value
                                  example: 0.272309794
                                percent_1d:
                                  type: number
                                  format: float
                                  description: Daily position change percent
                                  example: 5.326512552079021
                            fungible_info:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Displayable name of the fungible fungible.
                                  example: Bankless BED Index
                                symbol:
                                  type: string
                                  description: Displayable symbol of the fungible fungible.
                                  example: BED
                                description:
                                  type: string
                                  nullable: true
                                  description: Brief description of the fungible.
                                  example: The BED index is meant to track crypto’s top 3 investab...
                                icon:
                                  $ref: '#/paths/~1v1~1chains~1%7Bchain_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/icon'
                                flags:
                                  $ref: '#/paths/~1v1~1fungibles~1%7Bfungible_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/flags'
                                implementations:
                                  type: array
                                  description: Implementation details of the fungible on various chains.
                                  items:
                                    $ref: '#/paths/~1v1~1fungibles~1%7Bfungible_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/implementations/items'
                                market_data:
                                  type: object
                                  allOf:
                                    - $ref: '#/paths/~1v1~1fungibles~1%7Bfungible_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/market_data'
                                  nullable: true
                                  description: 'Market data for the fungible, including price, supply, and market cap information. Currently available at transaction callback notifications only.'
                            flags:
                              type: object
                              required:
                                - displayable
                              properties:
                                displayable:
                                  type: boolean
                                  description: Whether this position should be displayable and calculated in the wallet or not
                                  example: true
                                is_trash:
                                  type: boolean
                                  description: Is the position classified by Zerion as trash.
                            updated_at:
                              type: string
                              description: |
                                ISO-8601 timestamp the position was updated at. 
                                The field indicates when our service last checked and updated the balance. 
                                This update typically occurs immediately after any event causing a change in position.
                              example: '2023-11-10T23:00:00Z'
                            updated_at_block:
                              type: integer
                              format: int32
                              description: Number of the block of the position
                            application_metadata:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: AAVE
                                  description: |
                                    Human readable representation of DApp. That offers more intuitive understanding for users.

                                    Note: only available for positions within protocols.
                                icon:
                                  $ref: '#/paths/~1v1~1chains~1%7Bchain_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/icon'
                                url:
                                  type: string
                                  format: url
                                  description: URL of the DApp the position relates to.
                                  example: 'https://app.aave.com/'
                        relationships:
                          type: object
                          required:
                            - chain
                            - fungible
                          properties:
                            chain:
                              $ref: '#/paths/~1v1~1gas-prices~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/relationships/properties/chain'
                            fungible:
                              type: object
                              required:
                                - links
                                - data
                              properties:
                                links:
                                  type: object
                                  required:
                                    - related
                                  properties:
                                    related:
                                      format: url
                                      example: 'https://api.zerion.io/v1/fungibles/0x111c47865ade3b172a928df8f990bc7f2a3b9aaa'
                                data:
                                  type: object
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      type: string
                                      example: fungibles
                                    id:
                                      type: string
                                      example: '0x111c47865ade3b172a928df8f990bc7f2a3b9aaa'
                            dapp:
                              type: object
                              required:
                                - data
                              properties:
                                data:
                                  type: object
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      type: string
                                      description: Decentralized application resource type.
                                      example: dapps
                                    id:
                                      type: string
                                      description: Decentralized application ID
                                      example: aave-v3
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/transactions/':
    get:
      operationId: listWalletTransactions
      summary: Get list of wallet's transactions
      description: |
        This endpoint returns a list of transactions associated with the wallet.

        This endpoint supports testnets. To get data for testnets use `X-Env` header.

        **Temporary limitations for Solana addresses:**
        - Doesn't support NFT transactions

        > NOTE: This endpoint supports a lot of filters, sorting, and pagination parameters. Make sure that your request URL length is safe for your platform. Usually, 2000 characters are the safe limit in virtually any combination of client and server software.

        > NOTE: Consider all IDs as abstract strings, without making any assumptions about their format or relying on such assumptions. There is a non-zero probability that IDs may change in the future, and this should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1dapps/get/parameters/0'
        - name: address
          in: path
          required: true
          description: Address of the wallet.
          schema:
            type: string
        - name: 'filter[search_query]'
          in: query
          required: false
          description: Query for a full-text search.
          schema:
            type: string
            example: Trade
            minLength: 2
            maxLength: 64
        - name: 'filter[operation_types]'
          in: query
          required: false
          description: |
            Return only transactions with specified types (comma-separated list).

            Possible values:
            - `approve` - Grant permission to a smart contract to access and spend tokens on behalf of the wallet
            - `burn` - Destroy tokens permanently, reducing the total token supply
            - `claim` - Claim earned rewards, airdrops, or vested tokens from a protocol
            - `delegate` - Delegate tokens or voting power to another address
            - `deploy` - Deploy a new smart contract to the blockchain
            - `deposit` - Deposit assets into a protocol (e.g., lending pool, liquidity pool, vault)
            - `execute` - Execute a smart contract function or complex interaction that doesn't fit other specific types
            - `mint` - Create new tokens, increasing the total token supply
            - `receive` - Receive tokens from another wallet address
            - `revoke` - Revoke previously granted token spending permissions from a smart contract
            - `revoke_delegation` - Revoke a previously delegated token or voting power
            - `send` - Send tokens to another wallet address
            - `trade` - Exchange or swap assets (e.g., on a DEX)
            - `withdraw` - Withdraw assets from a protocol (e.g., from lending pools, liquidity pools, or vaults)    style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              description: |
                Type of the transaction operation. This field indicates the primary action performed in the transaction.

                Possible values and their meanings:

                - `approve` - Grant permission to a smart contract to access and spend tokens on behalf of the wallet
                - `bid` - Place a bid in a prediction market
                - `burn` - Destroy tokens permanently, reducing the total token supply
                - `claim` - Claim earned rewards, airdrops, or vested tokens from a protocol
                - `delegate` - Delegate tokens or voting power to another address
                - `deploy` - Deploy a new smart contract to the blockchain
                - `deposit` - Deposit assets into a protocol (e.g., lending pool, liquidity pool, vault)
                - `execute` - Execute a smart contract function or complex interaction that doesn't fit other specific types
                - `mint` - Create new tokens, increasing the total token supply
                - `receive` - Receive tokens from another wallet address
                - `revoke` - Revoke previously granted token spending permissions from a smart contract
                - `revoke_delegation` - Revoke a previously delegated token or voting power
                - `send` - Send tokens to another wallet address
                - `trade` - Exchange or swap assets (e.g., on a DEX)
                - `withdraw` - Withdraw assets from a protocol (e.g., from lending pools, liquidity pools, or vaults)
              example: trade
              enum:
                - approve
                - burn
                - claim
                - delegate
                - deploy
                - deposit
                - execute
                - mint
                - receive
                - revoke
                - revoke_delegation
                - send
                - trade
                - withdraw
        - name: 'filter[asset_types]'
          in: query
          required: false
          description: Return only transactions that contain specified asset types (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              description: Type of concrete asset.
              example: fungible
              enum:
                - fungible
                - nft
        - name: 'filter[chain_ids]'
          in: query
          required: false
          description: Return only transactions from specified chains (comma-separated list). You can find available chain ids in chain endpoints.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: polygon
        - name: 'filter[fungible_ids]'
          in: query
          required: false
          description: Return only transactions with fungibles with specified ids (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        - name: 'filter[min_mined_at]'
          in: query
          required: false
          description: Return only transactions since specific date. Timestamp in milliseconds.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
        - name: 'filter[max_mined_at]'
          in: query
          required: false
          description: Return only transactions until specific date. Timestamp in milliseconds.
          schema:
            type: string
            example: '1694192535967'
            minLength: 13
            maxLength: 13
        - name: 'filter[trash]'
          in: query
          required: false
          description: 'Filter transactions based on the `is_trash` flag. If no flag is specified, then `no_filter` is applied.'
          schema:
            type: string
            default: no_filter
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: 'filter[fungible_implementations]'
          in: query
          style: form
          explode: false
          required: false
          description: |
            Specify implementations of fungible tokens as a comma-separated list of `chain:address` pairs.

            Example format: `ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,polygon:0x123456789abcdef123456789abcdef123456789`

            Each item consists of a blockchain `chain_id` and an `address`, separated by a colon (`:`). Multiple pairs can be provided using commas (`,`).
          schema:
            type: array
            items:
              type: string
              example: 'ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          description: Response for requested list of transactions
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/transactions/?currency=usd&page%5Bsize%5D=10'
                      next:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/transactions/?currency=usd&page%5BlastId%5D=950ac208a5545dd19a1b2eb8edaef36c&page%5BlastTimestamp%5D=2022-12-08T09%3A12%3A35Z&page%5Bsize%5D=10'
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                        - id
                        - attributes
                      properties:
                        type:
                          type: string
                          example: transactions
                        id:
                          type: string
                          description: Unique ID of the transaction.
                          example: 52d994a173d755e99845e861d534a419
                        attributes:
                          type: object
                          required:
                            - hash
                            - mined_at_block
                            - mined_at
                            - sent_from
                            - sent_to
                            - status
                            - nonce
                            - fee
                            - transfers
                            - approvals
                          properties:
                            operation_type:
                              $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1transactions~1/get/parameters/4/schema/items'
                            hash:
                              type: string
                              description: Hash of the transaction.
                              example: '0x109d8622084d562263230ba5de412b5cd7c372019131e2c9d0a8aa4925eb6034'
                            mined_at_block:
                              type: integer
                              format: int32
                              description: Number of a block where the transaction was mined.
                              example: 15345739
                            mined_at:
                              type: string
                              description: Timestamp string in ISO 8601 format when the transaction was mined.
                              example: '2022-08-15T11:26:31+00:00'
                            sent_from:
                              type: string
                              description: Address of a sender of the transaction. It could be a smart contract address too.
                              example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990'
                            sent_to:
                              type: string
                              description: Address of a recipient of the transaction. It could a be smart contract address too.
                              example: '0x794a61358d6845594f94dc1db02a252b5b4814ad'
                            status:
                              type: string
                              description: Status of the transaction.
                              example: confirmed
                              enum:
                                - confirmed
                                - failed
                                - pending
                            nonce:
                              type: integer
                              format: int32
                              description: Nonce of the transaction.
                              example: 3757
                            fee:
                              type: object
                              description: The fee that was paid for the transaction.
                              required:
                                - fungible_info
                                - value
                                - price
                              properties:
                                fungible_info:
                                  $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/fungible_info'
                                quantity:
                                  $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/quantity'
                                price:
                                  type: number
                                  format: float
                                  description: Price of the asset when the transaction was mined.
                                  example: 2542.23
                                value:
                                  type: number
                                  format: float
                                  description: The fee value in requested currency.
                                  example: 39.965672931101786
                            transfers:
                              type: array
                              description: List of transfers. An empty list is returned if the transaction does not have any transfers.
                              items:
                                type: object
                                required:
                                  - direction
                                  - quantity
                                  - value
                                  - price
                                  - sender
                                  - recipient
                                properties:
                                  fungible_info:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/fungible_info'
                                  nft_info:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/nft_info'
                                  direction:
                                    type: string
                                    description: Direction of the transfer.
                                    example: in
                                    enum:
                                      - in
                                      - out
                                      - self
                                  quantity:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/quantity'
                                  value:
                                    type: number
                                    format: float
                                    description: Value of the transfer in requested currency.
                                    example: 0
                                  price:
                                    type: number
                                    format: float
                                    description: Historical price of the asset.
                                    example: 0
                                  sender:
                                    type: string
                                    description: Address of the sender of the transfer.
                                    example: '0x60a26d69263ef43e9a68964ba141263f19d71d51'
                                  recipient:
                                    type: string
                                    description: Address of the recipient of the transfer.
                                    example: '0x60a26d69263ef43e9a68964ba141263f19d71d51'
                                  act_id:
                                    type: string
                                    description: Identifier of the act to which the transfer belongs
                                    example: '2'
                            approvals:
                              type: array
                              description: List of approvals. An empty list is returned if the transaction does not have any approvals.
                              items:
                                type: object
                                required:
                                  - quantity
                                  - sender
                                properties:
                                  fungible_info:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/fungible_info'
                                  nft_info:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/nft_info'
                                  quantity:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/quantity'
                                  sender:
                                    type: string
                                    description: Address of the sender of the approval.
                                    example: '0x60a26d69263ef43e9a68964ba141263f19d71d51'
                                  act_id:
                                    type: string
                                    description: Identifier of the act to which the transfer belongs
                                    example: '1'
                            collection_approvals:
                              type: array
                              description: List of collection approvals. An empty list is returned if the transaction does not have any collection approvals.
                              items:
                                type: object
                                required:
                                  - cancelled
                                  - spender
                                  - act_id
                                properties:
                                  collection_info:
                                    type: object
                                    required:
                                      - id
                                      - name
                                      - icon_url
                                    properties:
                                      id:
                                        type: string
                                        description: Collection id.
                                      name:
                                        type: string
                                        description: Collection name.
                                        example: '0x60a26d69263ef43e9a68964ba141263f19d71d51'
                                      icon_url:
                                        type: string
                                        description: Identifier of the act to which the transfer belongs.
                                        example: '1'
                                  cancelled:
                                    type: boolean
                                    description: Indicates if the approval has been cancelled or granted.
                                  spender:
                                    type: string
                                    description: Address of the spender of the approval.
                                    example: '0x60a26d69263ef43e9a68964ba141263f19d71d51'
                                  act_id:
                                    type: string
                                    description: Identifier of the act to which the transfer belongs.
                                    example: '1'
                            application_metadata:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: AAVE
                                  description: |
                                    Human readable representation of DApp, that wallet interacted to. That offers more intuitive understanding for users.
                                icon:
                                  $ref: '#/paths/~1v1~1chains~1%7Bchain_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/icon'
                                contract_address:
                                  type: string
                                  description: The address of the executed contract.
                                  example: '0x794a61358d6845594f94dc1db02a252b5b4814ad'
                                method:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Execution method id. First 4 bytes of keccak256 of method signature in hex format.
                                      example: '0x095ea7b3'
                                    name:
                                      type: string
                                      description: Human readable name of the method.
                                      example: Approve
                            flags:
                              type: object
                              properties:
                                is_trash:
                                  type: boolean
                                  description: Is the transaction classified by Zerion as trash.
                            acts:
                              type: array
                              description: List of acts happened in the transaction for the wallet. Each transfer and approval belongs to one of the acts.
                              items:
                                type: object
                                required:
                                  - id
                                  - type
                                properties:
                                  id:
                                    type: string
                                    description: Unique identifier of the act within the transaction.
                                    example: '1'
                                  type:
                                    type: string
                                    description: Type of act in the transaction.
                                    example: trade
                                    enum:
                                      - send
                                      - receive
                                      - trade
                                      - deposit
                                      - withdraw
                                      - approve
                                      - execute
                                      - deploy
                                      - mint
                                      - burn
                                      - claim
                                      - delegate
                                      - revoke_delegation
                                      - bid
                                  application_metadata:
                                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1transactions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/application_metadata'
                            paymaster:
                              type: string
                              description: Address of a transaction fee payer.
                              example: '0x794a61358d6845594f94dc1db02a252b5b4814ad'
                        relationships:
                          type: object
                          properties:
                            chain:
                              $ref: '#/paths/~1v1~1gas-prices~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/relationships/properties/chain'
                            dapp:
                              $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/relationships/properties/dapp'
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/nft-positions/':
    get:
      operationId: listWalletNFTPositions
      summary: Get a list of a wallet's NFT positions
      description: |
        This endpoint returns a list of the NFT positions held by a specific wallet.

        This endpoint supports testnets. To get data for testnets use `X-Env` header.

        If the wallet address has not been previously added, this endpoint may return a `202` status code. This indicates that the wallet's positions are not yet available, but will be in the near future. In this case, the client should periodically request this endpoint until a `200` status code is returned.

        > NOTE: It is important to stop retrying after a reasonable period of time. If a `200` status code is not returned within 2 minutes, it is likely that an unexpected error has occurred and the client should stop polling.

        > NOTE: This endpoint provides support for filters, sorting, and pagination parameters. Ensure that the length of the request URL falls within a safe range for your platform. Typically, a length of 2000 characters is a safe limit for most combinations of client and server software.

        > NOTE: Consider all IDs as abstract strings, without making any assumptions about their format or relying on such assumptions. There is a non-zero probability that IDs may change in the future, and this should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: 'filter[chain_ids]'
          in: query
          style: form
          explode: false
          description: Keep only positions from the specified chains (comma-separated list). Available chains IDs can be found in chains endpoint.
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: 'filter[collections_ids]'
          in: query
          style: form
          explode: false
          description: Keep only positions from collections with specified IDs (comma-separated list). The IDs are returned inside the 'collection' field of each NFT.
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: sort
          in: query
          required: false
          description: The order of NFTs in the result.
          schema:
            type: string
            example: '-floor_price'
            enum:
              - created_at
              - '-created_at'
              - floor_price
              - '-floor_price'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: Array of related resources to be included to the response (comma-separated list). This parameter corresponds to the JSON API schema.
          schema:
            type: array
            items:
              type: string
              example: nfts
              enum:
                - nfts
                - nft_collections
                - wallet_nft_collections
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1dapps/get/parameters/0'
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          description: Response for requested list of NFT positions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/nft-positions/'
                  data:
                    type: array
                    items:
                      type: object
                      description: The NFT position of the wallet.
                      required:
                        - type
                        - id
                        - attributes
                      properties:
                        type:
                          type: string
                          description: NFT positions resource type.
                          example: nft_positions
                        id:
                          type: string
                          description: NFT position's unique ID.
                          example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990:ethereum:22:0x909899c5dbb5002610dd8543b6f638be56e3b17e:57896044618658097711785492504343953928676686534345912800509039648547174119787'
                        attributes:
                          type: object
                          properties:
                            changed_at:
                              type: string
                              description: The date and the time when the position was updated in ISO format.
                              example: '2023-02-28T19:24:39Z'
                            amount:
                              type: string
                              description: The quantity of the NFT position.
                              example: '1'
                            price:
                              type: number
                              format: float
                              description: The lowest price (floor) of the position's NFT. Measured in the requested currency.
                              example: 0.043615722
                            value:
                              type: number
                              format: float
                              description: The lowest value of the NFT position (floor). Measured in the requested currency.
                            nft_info:
                              type: object
                              required:
                                - contract_address
                                - token_id
                              properties:
                                contract_address:
                                  type: string
                                  description: Address of the contract of the NFT.
                                  example: '0x74ee68a33f6c9f113e22b3b77418b75f85d07d22'
                                token_id:
                                  type: string
                                  nullable: true
                                  description: Unique identifier of the NFT inside the contract.
                                  example: '10'
                                name:
                                  type: string
                                  description: Name of the NFT.
                                  example: '#10 De·genesis'
                                interface:
                                  $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/interface'
                                content:
                                  $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/metadata/properties/content'
                                flags:
                                  $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/flags'
                            collection_info:
                              type: object
                              description: Represents an NFT collection short info.
                              properties:
                                name:
                                  type: string
                                  description: The name of the collection.
                                description:
                                  type: string
                                  description: The description of the collection.
                                content:
                                  type: object
                                  properties:
                                    icon:
                                      allOf:
                                        - description: The URL for the collection's icon.
                                        - $ref: '#/paths/~1v1~1chains~1%7Bchain_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/icon'
                                    banner:
                                      allOf:
                                        - description: The URL for the collection's banner image.
                                        - $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/attributes/properties/metadata/properties/content/properties/audio/allOf/1'
                        relationships:
                          type: object
                          required:
                            - chain
                            - nft_collection
                          properties:
                            chain:
                              allOf:
                                - description: The blockchain on which the NFT position exists.
                                - $ref: '#/paths/~1v1~1gas-prices~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/relationships/properties/chain'
                            nft:
                              allOf:
                                - description: The NFT which represents the position.
                                - type: object
                                  required:
                                    - data
                                  properties:
                                    data:
                                      type: object
                                      required:
                                        - type
                                        - id
                                      properties:
                                        type:
                                          type: string
                                          description: NFTs resource type.
                                          example: nfts
                                        id:
                                          type: string
                                          description: Unique identifier of the NFT.
                            nft_collection:
                              allOf:
                                - description: The NFT collection which the NFT belongs to.
                                - $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/relationships/properties/nft_collection/allOf/1'
                        included:
                          type: array
                          items:
                            anyOf:
                              - $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data'
                              - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-collections~1/get/responses/200/content/application~1json/schema/properties/data/items/allOf/1/properties/included/items/anyOf/0'
                              - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-collections~1/get/responses/200/content/application~1json/schema/properties/data/items/allOf/0'
        '202':
          description: 'Request accepted, but NFT positions are still being aggregated.'
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-positions~1/get/responses/200/content/application~1json/schema/properties/links'
                  data:
                    type: array
                    example: []
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/nft-collections/':
    get:
      operationId: listWalletNFTCollections
      summary: Get a list of NFT collections held by a wallet
      description: |
        This endpoint returns a list of the NFT collections held by a specific wallet.

        This endpoint supports testnets. To get data for testnets use `X-Env` header.

        If the wallet address has not been previously added, this endpoint may return a `202` status code. This indicates that the wallet's collections are not yet available, but will be in the near future. In this case, the client should periodically request this endpoint until a `200` status code is returned.

        > NOTE: It is important to stop retrying after a reasonable period of time. If a `200` status code is not returned within 2 minutes, it is likely that an unexpected error has occurred, and the client should stop polling.

        > NOTE: This endpoint provides support for filters, sorting. Ensure that the length of the request URL falls within a safe range for your platform. Typically, a length of 2000 characters is a safe limit for most combinations of client and server software.

        > NOTE: Consider all IDs as abstract strings, without making any assumptions about their format or relying on such assumptions. There is a non-zero probability that IDs may change in the future, and this should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: 'filter[chain_ids]'
          in: query
          style: form
          explode: false
          description: Keep only collections from the specified chains (comma-separated list). Available chain IDs can be found in the chains endpoint.
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: sort
          in: query
          required: false
          description: The order of NFTs in the result.
          schema:
            type: string
            example: '-total_floor_price'
            enum:
              - '-max_changed_at'
              - min_changed_at
              - total_floor_price
              - '-total_floor_price'
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: Array of related resources to be included to the response (comma-separated list). This parameter corresponds to the JSON API schema.
          schema:
            type: array
            items:
              type: string
              example: nft_collections
              enum:
                - nft_collections
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          description: Response for requested list of NFT collections.
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
                        example: 'https://api.zerion.io/v1/wallets/0x42b9df65b219b3dd36ff330a4dd8f327a6ada990/nft-collections/'
                  data:
                    type: array
                    items:
                      allOf:
                        - type: object
                          description: The NFT collection held by the wallet.
                          required:
                            - type
                            - id
                            - attributes
                          properties:
                            type:
                              type: string
                              description: NFT collection resource type.
                              example: wallet_nft_collections
                            id:
                              type: integer
                              description: NFT collection's unique ID.
                              example: 14
                            attributes:
                              type: object
                              required:
                                - nfts_count
                                - total_floor_price
                              properties:
                                min_changed_at:
                                  type: string
                                  nullable: true
                                  description: The earliest `changed_at` date and time alongside all wallet's positions from the collection.
                                  example: '2020-02-28T19:24:39Z'
                                max_changed_at:
                                  type: string
                                  nullable: true
                                  description: The most recent `changed_at` date and time alongside all wallet's positions from the collection.
                                  example: '2023-02-28T19:24:39Z'
                                nfts_count:
                                  type: string
                                  description: The total quantity of the wallet's NFT positions from the collection.
                                  example: '1'
                                total_floor_price:
                                  type: number
                                  format: float
                                  description: The lowest price (floor) of the all wallet's NFTs positions from the collection. Measured in the requested currency.
                                collection_info:
                                  $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-positions~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/attributes/properties/collection_info'
                            relationships:
                              type: object
                              required:
                                - chains
                                - nft_collection
                              properties:
                                chains:
                                  type: array
                                  description: The blockchain on which the NFT collection exists.
                                  items:
                                    $ref: '#/paths/~1v1~1gas-prices~1/get/responses/200/content/application~1json/schema/properties/data/items/properties/relationships/properties/chain'
                                nft_collection:
                                  allOf:
                                    - description: The NFT collection itself.
                                    - $ref: '#/paths/~1v1~1nfts~1%7Bnft_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/relationships/properties/nft_collection/allOf/1'
                        - type: object
                          properties:
                            included:
                              type: array
                              items:
                                anyOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        description: NFT collections resource type.
                                        example: nft_collections
                                      id:
                                        type: integer
                                        description: Unique NFT collection ID.
                                        example: 14
                                      attributes:
                                        type: object
                                        description: Represents an NFT collection attributes corresponding to JSON API specification.
                                        properties:
                                          metadata:
                                            $ref: '#/paths/~1v1~1nfts~1/get/responses/200/content/application~1json/schema/properties/included/items/anyOf/0/properties/attributes/properties/metadata'
                                          market_data:
                                            type: object
                                            description: Contains marketplace data for a collection of NFTs.
                                            properties:
                                              prices:
                                                type: object
                                                description: Prices associated with the NFT collection expressed in the currency specified in the request parameters.
                                                properties:
                                                  floor:
                                                    type: number
                                                    format: float
                                                    description: The lowest known price for an NFT in the collection.
                                          implementations:
                                            type: array
                                            description: List of blockchain implementations where this collection is deployed
                                            items:
                                              $ref: '#/paths/~1v1~1nfts~1/get/responses/200/content/application~1json/schema/properties/included/items/anyOf/0/properties/attributes/properties/implementations/items'
        '202':
          description: 'Request accepted, but NFT collections held by the wallet are still being aggregated.'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1nft-positions~1/get/responses/202/content/application~1json/schema'
        '400':
          $ref: '#/paths/~1v1~1dapps/get/responses/400'
        '401':
          $ref: '#/paths/~1v1~1dapps/get/responses/401'
        '429':
          $ref: '#/paths/~1v1~1dapps/get/responses/429'
  '/v1/wallets/{address}/nft-portfolio':
    get:
      operationId: getWalletNftPortfolio
      summary: Get wallet's NFT portfolio
      description: |
        This endpoint returns the NFT portfolio overview of a web3 wallet.

        This endpoint supports testnets. To get data for testnets use `X-Env` header.

        If the address was not added before it is possible that this endpoint will return `202` status. It means that portfolio for the wallet is not prepared yet, but will be available soon. In that case the client have to request this endpoint periodically, while `200` status wasn't returned.

        > NOTE: Don't forget to stop retries after some reasonable period of time. If the `200` status is not returned within 2 minutes it most probably means that some unexpected error occurred and the client should stop the polling.
      tags:
        - wallets
      parameters:
        - $ref: '#/paths/~1v1~1nfts~1/get/parameters/1'
        - $ref: '#/paths/~1v1~1wallets~1%7Baddress%7D~1pnl/get/parameters/1'
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          description: Response for requested wallet's portfolio
          content:
            application/json:
              schema:
                type: object
                required:
                  - links
                  - data
                properties:
                  links:
                    type: object
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: url
[...]
